<body>
  <main>
    <section class="spotlight">
      <h2 class="spotlight__header">
        <span class="spotlight__header--prefix">Media Spotlight ::after</span>
        <%= link_to %>
      </h2>
    </section>
  </main>

</body>