<h2>Log In</h2>
<%= form_with model: @super_user, url: login_path, method: :post do |f| %>
  <%= f.label :name, 'Username' %>
  <%= f.text_field :username %>
  <%= f.submit 'Log In', class: "btn btn-primary" %>
<% end %>
<article>
 <p>
<h4>A note about logging in</h4>
  <p>There is no password field. Be nice. Friends do not impersonate friends.</p>
  </article>
