<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">
       Media Spotlight:
    </span>
    <%= link_to Work.spotlight.title %> by
    <%= Work.spotlight.creator%>
    </h2>
    <p class="spotlight__description"   >
        <h6><%= "votes i0i -"%></h6>
  </section>
  <section class="top-ten__container">
    <section class="top-ten__list-container">
        <% categories = [
                          "book", 
                          "album", 
                          "movie"
                          ]%>

        <% categories.each do |category|%>
          <%# category_collection = Work.top(category)%>
          <h2 class="top-ten__header">
          Top <%= "#{category.capitalize}s" %>
          </h2>
          <p>
          <%# inde = 0 %>
          <%# category_collection.each do |here| %>
            <%# if inde <= 9 %>
              <%#= here.class%>
              <%#= here.publication_year + "index#{inde}" %></p>
              <%# inde += 1%>
            <%#else%>
              <%#break%>
            <%# end %>
          <%#end %>
        <% end %>
    </section>
  </section>
</main>

