<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">
       Media Spotlight:
    </span>
    <%= link_to Work.spotlight.title %> by
    <%= Work.spotlight.creator%>
    </h2>
    <p class="spotlight__description"   >
        <h6><%= "votes i0i -"%></h6>
  </section>
  <section class="top-ten__container">
    <section class="top-ten__list-container">
        <h2 class="top-ten__header">
        Top <%= Work.books.first.title %>
        <%#= Work.find_by(publication_year: r).title%>
        </h2>
        <p><#% tt = (Work.albums.order("lower(publication_year
        ) DESC"))%>
        
        <%# tt.each_with_index do |here, inde| %>
        <%# if inde <= 9 %>
        <%#= here.publication_year + "index#{inde}" %></p>
        <%#else%>
         <%#break%>
        <%# end %>
        <%# end %>

    </section>
  </section>
</main>

