<section class="top-ten__container">
  <section class="top-ten__list-container">
    <h2 class="top-ten__header">
      Top <%= category_name.capitalize %>s
    </h2>
    <ul class ="list-group top-ten__list">
      <% Vote.top_ten(category_name).each do |top_work| %>
        <li class="list-group-item">
          <h4>
            <%= link_to top_work.title, work_path(top_work.id) %>
            <small class="top-ten__creator">by <%= top_work.creator%> </small>
          </h4>
          <p> <%= top_work.votes.length %> votes </p>
        </li>
      <% end%>
    </ul>
  </section>
 
