<section class="spotlight">
  <h2 class="spotlight__header"></h2>
    <span class="spotlight__header--prefix">
      Media Spotlight
    </span>
    <%= link_to "Top Voted Shiz!", "#"%>
    by That One Cool Cat.
  <p class="spotlight__description"> Number of Votes + Super rad description.</p>
</section>
<hr class="root__hr">

<section class="top-ten__container">
  <section>
    <ul class ="list-group top-ten__list-container">
      <li class="list-group-item">
      </li>
    </ul>
  </section>
  <section>
    <ul class ="list-group top-ten__list-container">
      <li class="list-group-item">
      </li>
    </ul>
  </section>
  <section>
    <ul class ="list-group top-ten__list-container">
      <li class="list-group-item">
      </li>
    </ul>
  </section>
</section>
