<h1>Homepages#index</h1>


<div>
<h2>Top Albums:</h2>
    <ul>
<% @works.top_ten("album").each do |work| %>
        <li>
        <%= work.title %>
        </li>
    <% end %>

</ul>
</div>

<div>
<h2>Top Books:</h2>
    <ul>
<% @works.top_ten("book").each do |work| %>
        <li>
        <%= work.title %>
        </li>
    <% end %>

</ul>
</div>

<div>
<h2>Top Movies:</h2>
    <ul>
<% @works.top_ten("movie").each do |work| %>
        <li>
        <%= work.title %>
        </li>
    <% end %>

</ul>
</div>

