<section class="media-spotlight">
    <h2>Media Spotlight: ADD MEDIA WORK HERE</h2>
    <p>Media work description here</p>
</section>

<section class="top-ten-container movies">
    <h2>Top Movies</h2>
</section>

<section class="top-ten-container books">
    <h2>Top Books</h2>
</section>

<section class="top-ten-container albums">
    <h2>Top Albums</h2>
</section>
