<section class="spotlight">
  <h2>Media Spotlight: </h2>
</section>
<section class="top_ten_container">
  <section class="top_ten">
    <h2>Top Movies</h2>
  </section>
  <section class="top_ten">
    <h2>Top Books</h2>
  </section>
  <section class="top_ten">
    <h2>Top Albums</h2>
  </section>
</section>