<h1>List of Works</h1>

<h2>Albums:</h2>
    <ul>
<% @works.each do |work| %>
    <% if work.category == "album" %>
        <li><%= link_to work.title, work_path(work.id) %></li>
    <% end %>
<% end %>
</ul>

<h2>Books:</h2>
<ul>
<% @works.each do |work| %>
    <% if work.category == "book" %>
        <li><%= link_to work.title, work_path(work.id) %></li>
    <% end %>
<% end %>
</ul>



    <h2>Movies:</h2>
    <ul>
    <% @works.each do |work| %>
        <% if work.category == "movie" %>
            <li><%= link_to work.title, work_path(work.id) %></li>
        <% end %>
    <% end %>
</ul>
