<% ["album", "book", "movie"].each do |type| %>
    <table>
        <h2><%= type.capitalize %>s</h2>
        <tr>
            <th>Votes</th>
            <th>Title</th>
            <th>Created By</th>
            <th>Published</th>
            <th>Upvote</th>
        </tr>
        <% @works.where(category: type).each do |work| %>
            <tr>
                <td>Add Votes</td>
                <td><%= work.title%></td>
                <td><%= work.creator %></td>
                <td><%= work.publication_year %></td>
                <td>Add upvotes</td>
            </tr>
        <% end %>
    </table>
<% end %>
