<h2>List of Works</h2>

<h3>Albums</h3>

<section>
  <%= render partial: 'works_table', locals: { :works => @albums } %>
</section>

<section>
  <%= render partial: 'works_table', locals: { :works => @books } %>
</section>

<section>
  <%= render partial: 'works_table', locals: { :works => @movies } %>
</section> 