<h1>List of Works</h1>

<%= render partial: "indextable", locals: {
  header_category: "Albums:",
  category: "album"
} %>

<%= render partial: "indextable", locals: {
  header_category: "Books:",
  category: "book"
} %>

<%= render partial: "indextable", locals: {
  header_category: "Movies:",
  category: "movie"
} %>


