<h2>List of Works</h2>
<div class = "index-list">
<%Work.category(@works).each do |category|%>
<h4><%=category.capitalize+"s"%></h4>
<table class = "table">
<thead>
<%# <th scope ="col">Votes</th> %>
<th scope="col">Title</th>
<th scope="col">Created By</th>
<th scope="col">Published</th>
<%# <th scope="col">Upvote</th> %>
</thead>
<tbody>


<% @works.each do |work|%>
<tr>

  <% if work.category == category%>
    <td><%=link_to "#{work.title}", work_path(work.id), method: :ge t %></td>
    <td><%=work.creator%></td>
   <td><%=work.publication_year%></td>
     <%end%>

   </tr>

<% end %>
</tbody>
</table>
<%end%>


</div>