<h2>List of Works</h2>
<section class="table_container">
  <%= render partial: "category", locals: { category_name: "Albums", category: @albums } %>
  <%= render partial: "category", locals: { category_name: "Books", category: @books } %>
  <%= render partial: "category", locals: { category_name: "Movies", category: @movies } %>
</section>