<table class="table">
    <thead>
    <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
    </tr>
    </thead>
  <% User.all.each do |a| %>
  <tbody>
    <tr>
        <td><%= link_to a.username, user_path(a.id) %></td>
        <td><%= Vote.where(user_id: a.id).count %></td>
        <td><%= a.created_at.strftime("%b %d, %Y") %></td>
    </tr>
  </tbody>
  <% end %>
</table>