<h2> List of Users </h2>
  <% if !@users.empty? %>
    <table class="table">
      <thead>
        <tr>
          <th> Username </th>
          <th> Votes </th>
          <th> Published </th>
        </tr>
      </thead>
      <% @users.each do |user|%>
        <tr>
          <td> 
            <%= link_to user.username, user_path(user.id) %>
          </td>
          <td> 
           Votes
          </td>
          <td> 
           <%= parse_date(user.created_at) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    No users available
  <% end %>