<h1>User Log In</h1>

  <%= form_with model: @user, url: login_path do |f| %>
    <%= f.text_field :name, placeholder: "Username", class: "form-control" %>


    <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>





