<%= form_with model: @user, url: login_path do |f|%>
  <div class="form-group">
    <%= f.label :username%>
  </div>

  <div class="form-group">
    <%= f.text_field :username, id:'user_username' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Log In', class:'btn btn-primary' %>
  </div>
<% end %>