<section class="spotlight">
<h2>Media Spotlight:<%= "Something" %></h2>
<p>spotlight description</p>
</section>

<section class="top-ten_container" >
  <section class="top-ten-list_container" >
    <h2>Top Movies</h2>
  </section>
  <section class="top-ten-list_container" >
    <h2>Top Books</h2>
  </section>
  <section class="top-ten-list_container" >
    <h2>Top Albums</h2>
  </section>
</section>