
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

* {
  border-radius: 0;
}


body {
  display: grid;
  grid-template-areas: 
  "header",
  "main"
}

main {
  margin: 3rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

header.page-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  padding: 4rem;
  background-color: #20c997;
}

header.page-header h1 {
  color: white;
  border-right: 1px solid white;
  padding-right: 1rem;
  margin-right: 1rem;
}

header.page-header a {
  color: white;
}

div.top-media-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  // align-items: center;
  justify-items: center;
}

h4.top-media-heading {
  margin: 1rem 0;
  padding-bottom: .5rem;
  border-bottom: solid 1px;
}

article.top-media-container {
  padding: 1.5rem;
  margin: 1rem;
}