// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
hr {
    margin: 0px auto 3rem auto;
}

.top-ten-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}

.top-ten-header {
    border-bottom: 2px solid;
    border-bottom-color: #B2DFDB;
}

.spotlight-header {
    color: #424242;
}

.spotlight {
    padding: 0 2rem 2rem 2rem;
}

.spotlight-link-to {
    border-bottom: 2px solid;
}

.list-group-item {
    border: none;
  }

  .top-ten-creator {
      color: slategrey;
  }

  .flash.alert.alert {
      
  }