// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Gudea');

// HOMEPAGE/TOP MEDIA PAGE

// SPOTLIGHT
.spotlight {
    border-bottom: lightgray 1px solid;
    padding-bottom: 30px;
}

.spotlight_prefix {
    color: black; 
    font-weight: bold;
}
.spotlight h2 {
    color: #26A69A;
    font-weight: bold;
}
.spotlight h2 a {
    color: #26A69A;
    text-decoration: underline;
}

.spotlight h2 a:hover {
    color: #00796B;
}

.text-following-a {
    color: #26A69A;
}

// MAIN

main {
    padding: 2rem;
}

.top-ten-container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}

.top-ten h2 {
    color: #26A69A;
    border-bottom: 2px solid;
    border-bottom-color: #B2DFDB;
    font-weight: bold;
}

.top-ten ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    }

.top-ten ul li {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border:none;
}

.top-ten ul li h4 a {
    color: #26A69A;
    font-weight: bold;
}

.top-ten ul li h4 a:hover {
    color: #00796B;
    text-decoration: none;
}

.top-ten ul li h4 small {
    color: slategrey;
}