// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.works-index h2, .works-index h4, .works-index th {
    font-weight: bold;
}
.works-index h2 { 
    color: #26A69A;
}

.works-index .btn-primary {
    margin: 0px;
}

.works-index td a {
    color: #26A69A;
}

.works-index td a:hover {
    color: #00796B;
    text-decoration: none;
}